<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Página Principal</title>
    </head>
    <body>
        <app-nav></app-nav>
        <br />
        <ul class="ms-auto">
            <label>Conectado:</label>
            <h4>{{ usuarios }}</h4>
        </ul>
        <h1 class="text-center">Comentarios</h1>
        <div class="input-group mb-3">
            <input
                [(ngModel)]="nombre"
                type="text"
                class="form-control"
                placeholder="Buscar..."
                aria-label="Recipient's username"
            />
        </div>
        <br />
        <div class="cont-principal">
            <div
                class="btn-group-vertical"
                role="group"
                aria-label="Vertical button group"
            >
                <button type="button" class="btn btn-dark" (click)="obsdata1()">
                    Curso
                </button>
                <button type="button" class="btn btn-dark" (click)="obsdata2()">
                    Catedratico
                </button>
                <button type="button" class="btn btn-dark" (click)="obsdata3()">
                    todos
                </button>
            </div>
            <div class="container">
                <div class="col-md-2" *ngFor="let data of dataComents">
                    <div class="card" style="width: 18rem">
                        <div class="card-body">
                            <h5 class="card-title">curso: {{ data.titulo }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                Catedratico: {{ data.nombre }}
                            </h6>
                            <p class="card-text">
                                Comentario: {{ data.contenido }}
                            </p>
                            <input
                                class="form-control me-2"
                                type="search"
                                [(ngModel)]="algo"
                                placeholder="comentario"
                                aria-label="Search"
                            />
                            <button
                                class="btn btn-outline-success"
                                type="submit"
                            >
                                comentar
                            </button>
                            <p class="card-text">
                                Comentario: {{ data.respuestas }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
