<app-navigation></app-navigation>
<div class="col-md-6 offset-md-3">              <!--DISEÑO DE LA PESTAÑA ADD AGREGANDO LOS TEXTAREA-->
    <div class="card">
        <div class="card-body">              
            <form>
                    <img class="mx-auto d-block" src="/assets/recuperar.png" alt="Logo" width="350"><br>
                    

                    <blockquote class="blockquote"> 
                        <p>Para recuperar su cuenta, ingrese los siguientes datos</p>
                        <footer class="blockquote-footer">Ingrese su número de carnet</footer> 
                    
                    <div class="form-control">
                        <input type="text" placeholder ="Carnet" name="carnet" class ="form-control" autofocus />
                    </div><br>
                    

                        <footer class="blockquote-footer">Ingrese su correo electronico</footer> 

                    <div class="form-control">
                        <input type="email" placeholder ="correo electronico" name="correo" class ="form-control" autofocus />
                    </div><br>


                        <footer class="blockquote-footer">Ingrese la nueva contraseña</footer> 

                    <div class="form-control">
                        <input type="password" placeholder ="Contraseña nueva"  name="contrasena" class ="form-control" autofocus />
                    </div><br>

                    <button class="btn btn-success w-100">
                        realizar cambios
                    </button>

                </blockquote>

            </form>
        </div>
    </div> 
</div>


