<app-nav></app-nav>
<br />
<ul class="ms-auto">
    <br />
    <label>Conectado:</label>
    <h4>{{ usuarios }}</h4>
</ul>
<h1 class="text-center">Publicaciones</h1>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
        >Nombre Curso/Catedratico</label
    >
    <input
        [(ngModel)]="user.titulo"
        type="titulo"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Escribe el nombre del curso o catedratico"
    />
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
        >Contenido de la publicación</label
    >
    <textarea
        [(ngModel)]="user.contenido"
        type="contenido"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="Escribe algo acerca del curso o catedratico"
    ></textarea>
</div>
<button type="button" class="btn btn-dark" (click)="nuevocoment()">
    Publicar
</button>

<br />
<br />
<div class="card" style="width: 18rem" **ngFor="let dato of datoscoment">
    <div class="card-header">Publicacion</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ dato.titulo }}</li>
        <li class="list-group-item">{{ dato.content }}</li>
        <li class="list-group-item">{{ dato.created_at }}</li>
    </ul>
</div>
